RPC_URL=http://127.0.0.1:8124
PRIVATE_KEY=815405dddb0e2a99b12af775fd2929e526704e1d1aea6a0b4e74dc33e2f7fcd2

# Amount to initialize with: 0.01 ETH
INIT_AMOUNT=10000000000000000
# Address file for initialization
INIT_ADDRS=./config/devnet/addr_20000_wmt
# Benchmark config file
CONFIG_FILE=./config/devnet/op-local-erc20.json
